.button {
  margin-top: 15px;
}

.guessed-name {
  align-self: center;
}

input {
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  padding: 10px;
  width: 90%;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
}
